<%= form_with(model: plane) do |form| %>
  <% if plane.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(plane.errors.count, "error") %> prohibited this plane from being saved:</h2>

      <ul>
        <% plane.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= form.label :modelo %>
    <%= form.text_field :modelo %>
  </div>

  <div class="field">
    <%= form.label :capacidad %>
    <%= form.text_field :capacidad %>
  </div>

  <div class="field">
    <%= form.label :fabricante %>
    <%= form.text_field :fabricante %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
